/* GERAL */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}   

a:hover {
    color: #37a1f7;
}

/* NAVBAR - PRINCIPAL */
#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #DDD;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar-inner h2 {
    display: flex;
    gap: 5px;
}

#navbar-inner img {
    width: 30px;
    height: 30px;
}


#nav-links {
    display: flex;
    gap: 1rem;
}

/* NAVBAR CATEGORY */

#navbar-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#navbar-category ul {
    display: flex;
    gap: 4rem;
}

#navbar-category a {
    color: #000;
    opacity: 0.7;
    transition: none;
}

#navbar-category a:hover {
    opacity: 1;
    border-bottom: 2px solid #444;
}

/* CONTEÚDO PRINCIPAL */

#florestas {
    font-weight: bold;
    color: #000;
}

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-height: 80vh; /* define a altura visível */
    overflow-y: auto; /* ativa a rolagem apenas no main */
    padding-right: 10px; /* espaço pro scroll não sobrepor o conteúdo */
}

#post {
    width: 500px;
    margin-bottom: 2.5rem;
    margin: 30px;
}

#post img {
    width: 500px;
    margin-bottom: 1rem;
}

.title, 
.discription,
.author {
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
}

.author {
    color:  #333;
    font-weight: bold;
}

/* RODAPÉ */
#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 0.5rem;
}