/* GERAL */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

.bold {
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #37a1f7;

}

/* NAVBAR */
#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #DDD;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar-inner h2 {
    display: flex;
    gap: 5px;
}

#navbar-inner img {
    width: 30px;
    height: 30px;
}


#nav-links {
    display: flex;
    gap: 1rem;
}

#nav-links li {
    transition: border-bottom .3s ease-out;
}

/* CONTEÚDO */
#main-container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    border: 3px solid #444;
    border-radius: 10px;
}

#information {
    margin: 30px 60px;
}

#information h2 {
    margin-bottom:10px;
}

#information p {
    margin-bottom: 5px;
}

#contact {
    margin: 30px auto;
}

#contact input {
    display: block;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px 9px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    width: 420px;
    margin: 5px auto;
}

#contact button {
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    margin-top: 15px;
    border-radius: 3px;
    width: 420px;
    height: 37px;
    font-size: 15px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    opacity: .7;
    transition: 0.4s;
}

#contact button:hover {
    opacity: 1;
}

/* RODAPÉ */
#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 0.5rem;
}